{% extends "allauth/layouts/entrance.html" %}
{% load account %}
{% block secondary_nav_bar %}
    <span class="pt-2 px-4 text-gray-600">&gt;</span>
    <a href="{% url 'account_reset_password_done' %}" class="text-base font-medium pt-2 hover:underline">Reset Password Done</a>
{% endblock %}


{% block allauth_content %}
<h1 class="text-2xl font-semibold mb-8 text-center">Password reset</h1>
<div class="pb-4 text-center">
    <span class="text-lg text-indigo-600 font-semibold">We have sent you an email!</span>
    <p class="pt-8 pb-2 font-medium">
        If you have not received it please check your spam folder
    </p>
    <p class="font-medium"> 
        Otherwise contact us if you do not receive it in a few minutes
    </p>
</div>

{% endblock %}
